.menu-icon {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: transparent url("./css_sprites.png") no-repeat -10px -10px;
    transform: rotate(0deg);
    transition: tranform .2s;
}
