@charset "utf-8";

* {
	/*RESET*/
	box-sizing: content-box;
	padding: 0;
	margin: 0;
}
:root {
	/*VARIABLES*/
	
	/*
	*	SIZES:
	*	0.3125rem = 5px
	*	0.6250rem = 10px
	*	0.9375rem = 15px
	*	1.25rem = 20px
	*/

	--pd-ssm: 0.3125rem;
	--pd-sm: 0.6250rem;
	--pd-md: 0.9375rem;
	--pd-bg: 1.25rem;
	
	--br-ssm: 0.3125rem;
	--br-sm: 0.6250rem;
	--br-md: 0.9375rem;
	--br-bg: 1.25rem;

	--mg-ssm: 0.3125rem;
	--mg-sm: 0.6250rem;
	--mg-md: 0.9375rem;
	--mg-bg: 1.25rem;

	--font-display: display;
	--font-title: serif;
	--font-text: sans-serif;

	--color-primary: #000;
	--color-secondary: #fff;
	--color-thirdary: #999;

	--theme-dark-color: ;
	--theme-light-color: ;
}