#header {
	display: flex;
	justify-content: space-between;
	padding: var(--pd-sm) var(--pd-bg);
}
#main {
	max-width: 810px;
	padding: var(--pd-md) var(--pd-bg);
	margin: 0 auto;
	background-color: var(--color-secondary, beige);
}
#content-header,
.content-section,
.content-extra {
	padding: var(--pd-md) 0;
	margin: var(--mg-sm) 0;
}
#footer {
	padding: var(--pd-sm);
}
#header,
#footer {
	color: white;
	background-color: var(--color-primary, gray);
}