/* TODO
*  Criar os estados de menu, links e breadcrumb 
*/
/*SKIP LINK MODULE*/
.skip-link {
	display: block;
	position: fixed;
	top: -100%;
	border-radius: var(--br-ssm);
	padding: var(--pd-sm);
	color: var(--color-primary);
	background-color: white;
	box-shadow: 0px 0px 10px white;
	text-decoration: underline black dotted 2px;
}

/*LOGO MODULE*/
.logo {
	display: flex;
	align-items: center;
	height: 48px;
}
.logo-type {
	height: fit-content;
	font: 1.8rem var(--font-display);
	text-transform: capitalize;
	user-select: none;
}

/*BTN-MENU MODULE*/
.btn-menu {
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: var(--br-ssm);
	margin: var(--mg-ssm) 0;
	cursor: pointer;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
}
.bar {
	display: block;
	width: 70%;
	height: 3px;
	border-radius: var(--br-sm);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	background-color: white;
}
.bar:nth-child(1) {
	top: 15%;
}
.bar:nth-child(2) {
	top: 45%;
	width: 100%;
}
.bar:nth-child(3) {
	top: 74.5%;
}
.hidden-label {
	display: none;
}

/*MENU MODULE*/
.menu {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	background-color: var(--color-primary);
}
.menu-container {
	display: flex;
	justify-content: space-between;
	padding: 0 var(--pd-bg);
	list-style: none;
}
.menu-item {
	width: fit-content;
}
.menu-link {
	display: inline-block;
	padding: var(--pd-md);
	text-decoration: none;
	color: var(--color-secondary);
	font-size: min(3.5vw, 1rem);
}

/*BREADCRUMBS MODULE*/
.breadcrumbs {
	width: fit-content;
	margin: 0 auto;
}
.breadcrumbs-container {
	display: flex;
	list-style: none;
}
.breadcrumb-item {
	max-width: 100px;
	margin: 0 var(--mg-md);
	position: relative;
	font: 1rem var(--font-text);
	text-transform: capitalize;
	user-select: none;
}
.breadcrumb-item:not(:last-child)::after {
	content: ">";
	position: absolute;
	left: 115%;
	top: 0;
	font: bold 1rem var(--font-text);
}

/*TITLE MODULE*/
.title {
	margin-bottom: var(--mg-md);
	font-family: var(--font-title);
}
h1.title {
	font-size: 1.8rem;
}
h2.title {
	font-size: 1.6rem;
}
h3.title {
	font-size: 1.4rem;
}

/*TEXT MODULE*/
.text {
	margin-top: var(--mg-sm);
	font: 1rem var(--font-text);
}

/*SUMMARY MODULE*/
.summary {
	margin-top: var(--mg-md);
	user-select: none;

}
.summary-container {
	padding: var(--pd-bg);
	list-style-position: inside;	
}

/*IMAGE MODULE*/
.img-container {
	margin: var(--mg-md) auto;
}
.img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: var(--br-ssm);
}
.img-caption {
	padding: var(--pd-ssm);
	
	text-align: center;
}
.img-caption > * {
	font: 0.8rem var(--text-font);
}

/*LINK MODULE*/
a {
	font: bold 1rem var(--font-text);
}
a.summary-link,
a.caption-link,
a.content-link {
	color: black;
}
a.footer-menu-link,
a.creation-credits-link {
	color: white;
}


/*VIDEO MODULE*/
.video-container {
	margin: var(--mg-md) auto;
}
.video {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	border: none;
}


/*CREDITS MODULE*/
.creation-credits {
	text-align: center;
}
.creation-credits-text {
	font: 0.8rem var(--display-font);
}
.creation-credits-link {
	font: inherit;
}
