/* TODO
*  Criar os estados desse link, como ex. focus
*  Criar o menu e seus estados
*/
/*SKIP LINK MODULE*/
.skip-link {
	position: fixed;
	top: -100%;
	display: block;
	border-radius: var(--br-ssm);
	padding: var(--pd-sm);
	color: var(--color-primary);
	background-color: white;
	box-shadow: 0px 0px 10px white;
	text-decoration: underline black dotted 2px;
}

/*LOGO MODULE*/
.logo {
	display: flex;
	background-color: red;
	height: 48px;
}
.logo-icon {
	background-color: white;
}
.logo-type {
	padding-top: var(--pd-ssm);
	font: 1.8rem var(--font-display);
	text-transform: capitalize;

	background-color: blue;
}

/*BTN-MENU MODULE*/
.btn-menu {
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: var(--br-ssm);
	margin: var(--mg-ssm) 0;

	background-color: blue;
}
.bar {
	display: block;
	width: 70%;
	height: 3px;
	border-radius: var(--br-sm);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
}
.bar:nth-child(1) {
	top: 15%;
}
.bar:nth-child(2) {
	top: 45%;
}
.bar:nth-child(3) {
	top: 74.5%;
}
.hidden-label {
	display: none;
}

/*MENU MODULE*/
.menu {
	display: none;
	position: fixed;
	inset: 0%;
	width: 100vw;
	height: 100vh;

	background-color: red;
}
.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: inherit;
	height: 70%;
	padding: 15% 0;
}
.menu-item {
	display: block;
	width: inherit;
	height: 15%;
	position: relative;
	text-align: center;

	background-color: white;
}
.menu-link {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font: 1.4rem var(--font-display);
	text-decoration: underline;
	color: black;
}

/*BREADCRUMBS MODULE*/
.breadcrumbs {
	width: fit-content;
	margin: 0 auto;
}
.breadcrumbs-container {
	display: flex;
}
.breadcrumb-item {
	max-width: 100px;
	margin: 0 var(--mg-md);
	position: relative;
	text-transform: capitalize;
	background-color: white;
}
.breadcrumb-item:not(:last-child)::after {
	content: ">";
	display: block;
	position: absolute;
	left: 115%;
	top: 0;
	font-weight: bold;
}

/*TITLE MODULE*/
.title {
	margin: 0 0  var(--mg-md) 0;
	font-family: var(--font-title);

	background-color: blue;
}
h1.title {
	font-size: 1.8rem;
}
h2.title {
	font-size: 1.6rem;
}
h3.title {
	font-size: 1.4rem;
}

/*TEXT MODULE*/
.text {
	margin: var(--mg-sm) 0 0 0;
	font: 1rem var(--font-text);

	background-color: blue;
}

/*SUMMARY MODULE*/
.summary {
	margin: var(--mg-md) 0 0 0;

	background-color: blue;
}
.summary-container {
	padding: var(--pd-bg);
	list-style-position: inside;	
}

/*IMAGES MODULE*/
.img-container {
	margin: var(--mg-ssm) auto;
	text-align: center;
	max-width: 810px;
	background-color: aqua;
}
.img {
	display: block;
	max-width: 100%;
}