:root {
    --normal-color: #f2a057;
    --dark-normal-color: #c17f46;
    --additional-color: #2b50a6;
    --dark-additional-color: #1e3c83;
    --decoration-font: 'Righteous',sans-serif, cursive;
    --title-font: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
    --text-font: 1.1em 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}