:root {
    /** COLORS **/
    --primary: #f2a057;
    --dark-primary: #c17f46;
    --secondary: #2b50a6;
    --dark-secondary: #1e3c83;

    /* FONTS **/
    --decoration: 'Righteous',sans-serif, cursive;
    --titles: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
    --text: 1.1rem 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    
}