.figure-container {
    text-align: center;
    margin: 1.25rem;
}
.figure {
    width: 90%;
    height: auto;
    border-radius: 0.1875rem;
    object-fit: cover;
    aspect-ratio: 8/5;
}
.figure-caption {
    font-variant: small-caps; 
    font-size:  0.9500rem;
    font-family:  var(--text-font);
    padding: 0.625rem 0;
}
