@charset "utf-8";
#header {
    padding: 0 0 0 10px;
    overflow: auto;
}
#header * {
    transition:0.4s;
}
#logo {
    width: 80px;
    height: auto;
    padding: 5px 0;
    float: left;
}
#header h1 {
    font-size: 2.5em;
    padding: 22px 5px 0;
    float: left;
}
#navbar {
    float: right;
}
#navbar a {
    font-size: 1.2em;
    display: inline-block;
    padding: 34px;
    transition: 0.3s;
}
#navbar a:link {
    color: white;
}
#navbar a:hover {
    color: var(--additional-color);
    background-image: linear-gradient(to bottom, var(--normal-color), var(--dark-normal-color));
}
#footer-links-list {
    columns: 3;
    width: 800px;
    margin: auto;
}