@charset "utf-8";
#header {
    padding: 0 0 0 15px;
}
#menu-icon, #close-icon {
    display: none;
}
#navbar {
    float: right;
}
.nav-link {
    display: inline-block;
    padding: 34px;
}
.nav-link:hover {
    color: var(--additional-color);
    background-image: linear-gradient(to bottom, var(--normal-color), var(--dark-normal-color));
}
