@charset "utf-8";
#header {
    padding: 0 15px;
}
#menu-icon {
    padding: 23px 0;
    float: right;
}
#close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}
#menu-icon:hover, #close-icon:hover {
    opacity: 0.6;
}
#navbar {
    display: none;
    background-color: #1e3c83;
    width: 40%;
    min-width: 200px;
    border-radius: 0 0 0 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: -1px 1px 15px rgba(0, 0, 50, 0.4);
}
#links-container {
    padding: 20px;
}
.nav-link {
    display: block;
    line-height: 3em;
    text-align: center;
}
.nav-link:hover {
    text-decoration: underline var(--normal-color) solid;
}
.text {
    text-align: start;
}
#links-list {
    columns: 2;
}
.list-link {
    font-size: 0.8em;
}
@media screen and (max-width: 450px) {
    #logo {
        width: 60px;
        height: auto;
        padding: 10px 5px;
    }
    #main-title {
        padding: 24px 0 0;
        font-size: 2em;
    }
   
}
@media screen and (max-width: 440px) {
    #logo {
        width: 18vw;
        height: auto;
    }
    #main-title {
        font-size: 9vw;
    }
    #menu-icon {
        width: 10vw;
        height: auto;
    }
}
