@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
:root {
    --normal-color: #f2a057;
    --dark-normal-color: #c17f46;
    --additional-color: #2b50a6;
    --dark-additional-color: #1e3c83;
    --decoration-font: 'Righteous',sans-serif, cursive;
    --title-font: 'Cinzel', Georgia, 'Times New Roman', Times, serif;
    --text-font: 1.1em 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}
.header, #footer {
    background-image: linear-gradient(to bottom, var(--additional-color), var(--dark-additional-color));
    overflow: auto;
}
#logo {
    width: 80px;
    height: 80px;
    padding: 5px;
    float: left;
}
#main-title {
    color: var(--normal-color);
    font: bolder 2.5em var(--decoration-font);
    padding: 20px 5px 0;
    float: left;
}
#menu-icon {
    width: 40px;
    height: 40px;
    background: transparent url("../content/icons/css_sprites.png") no-repeat -10px 12px;
}
#close-icon {
    width: 30px;
    height: 30px;
    background: transparent url("../content/icons/css_sprites.png") no-repeat -70px -10px;
}
#logo-container {
    cursor: pointer;
}
.nav-link {
    color: white;
    font-weight: bolder;
    font: 1.2em var(--decoration-font);
    text-decoration-line: none;
}
.nav-link:link {
    color: white;
}
#main-title, #menu-icon, #close-icon, #navbar, .nav-link {
    transition: 0.7s;
} 
main {
    max-width: 900px;
    min-width: 200px;
    margin: 0 auto;
    font-size: 1.1em;
}
article {
    padding: 15px 0;
}
article header, section {
    padding: 10px 25px;
}
.title {
    color: var(--additional-color);
    font-weight: 600;
    font-family: var(--title-font);
    padding: 0 0 0 5px;
    border-left: 6px solid var(--normal-color);
    margin: 20px 0;
}/*
.title:hover::after {
    content: '🔗';
}*/
h1.title {
    font-size: 1.8em;
}
h2.title {
    font-size: 1.6em;
}
h3.title {
    font-size: 1.4em;
}
.text {
    font: var(--text-font);
    text-align: justify;
    text-indent: 20px;
    line-height: 1.9em;
}
figure {
    text-align: center;
    margin-bottom: 20px;
}
figure img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}
figcaption {
    font-variant: small-caps;
    font-family: var(--text-font);
}
#video {
    position: relative;
}
#video iframe {
    width: 80%;
    height: 80%;
    display: block;
    aspect-ratio: 16/9;
    margin: 0 auto;
}

#footer {
    padding: 10px;
}
#links-list {
    text-align: center;
    list-style: none;
    columns: 3;
    max-width: 800px;
    margin: auto;
}
.list-link {
    color: white;
    font-family: var(--decoration-font);
    text-decoration: none;
    line-height: 1.5em;
    display: inline-block;
    padding: 10px;
}
.list-link:link {
    color: white;
}
.list-link:hover {
    color: var(--normal-color);
}
hr {
    display: block;
    width: 65%;
    height: 1px;
    --dark-additional-color: #354b9a;
    background-color: var(--dark-additional-color);
    border: none;
    margin: 30px auto;
}
#creator-credit {
    color: var(--normal-color);
    font-family: var(--decoration-font);
    text-align: center;
    display: block;
    margin: 15px 0 0;
}
#creator-link {
    color: white;
}
#creator-link:hover {
    color: var(--normal-color);
    text-decoration: none;
}