@charset "utf-8";
@import url("./base/imp.css");
@import url("./components/imp.css");
@import url("./layouts/imp.css");


.main {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.1em;
}
.article {
    padding: 15px 0;
}
article header, section {
    padding: 10px 25px;
}

#footer {
    padding: 10px;
}
#links-list {
    text-align: center;
    list-style: none;
    columns: 3;
    max-width: 800px;
    margin: auto;
}
.list-link {
    color: white;
    font-family: var(--decoration-font);
    text-decoration: none;
    line-height: 1.5em;
    display: inline-block;
    padding: 10px;
}
.list-link:link {
    color: white;
}
.list-link:hover {
    color: var(--normal-color);
}
hr {
    display: block;
    width: 65%;
    height: 1px;
    --dark-additional-color: #354b9a;
    background-color: var(--dark-additional-color);
    border: none;
    margin: 30px auto;
}
#creator-credit {
    color: var(--normal-color);
    font-family: var(--decoration-font);
    text-align: center;
    display: block;
    margin: 15px 0 0;
}
#creator-link {
    color: white;
}
#creator-link:hover {
    color: var(--normal-color);
    text-decoration: none;
}
